body{
    background-color: rgba(11, 14, 53, 0.795);
    color:snow


 }

 nav{ 
padding: 5px;
line-height: 30px;

 }
 footer{ 
    position: fixed;
    bottom: 0;
    text-align: center;
    position: absolute;
    left: 45%;

 }

 header{
text-align: center;

 }

 img{ 
    width: 200px;
    position: absolute;
    left: 42.5%;
    top:25%

 }